{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <div class="site-content">
        <div class="container">
            {{ dateInfo | raw }}
        </div>
    </div>
{% endblock %}

